.App {
  text-align: left;
}

.App-header {
  background-color: #87a6e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 52, 129);
}

.App-link {
  color: #61dafb;
}

.Container {
  color: rgb(253, 253, 253);
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  height: 15px;
  line-height: 50px;
  padding-top: 7px;
}
